body{
    text-align: center;
    background-color: black;
    color: white;
}
#btninic{
    border: none;
    padding: 5px;
    background-color: #474747;
    color: white;
}
#inic{
    position:fixed;
    z-index: 4;    
    background-color: black;
}
#iniciativas{
    display: none;
}
.player{
    margin-top: 3px;
    width: 150px;
    height: 15px;
    padding: 5px;
    border: none;
    color: white;
    background-color: rgb(47, 47, 47);
}
.iniciativa{
    margin-top: 3px;
    width: 55px;
    height: 15px;
    padding: 5px;
    border: none;
    color: white;
    background-color: rgb(47, 47, 47);
}
#addmonst, .monstro{
    margin-bottom: 80px;
}
.foto{
    width: 200px;
}
.fototoken{
    width: 100px;
}
.subcontainer1, .subcontainer2, .subcontainer4{
    display: inline-block;
}
.subcontainer2{
    position: relative;
    margin-left: 100px;
}
.container1{
    height: 270px;
}
.container2{
    height: 600px;
}
.stats{
    width: 650px;
    height: 380px;
}
.caract{
    width: 600px;
    height: 245px;
}
.loot{
    width: 600px;
    height: 245px;
}
.ataque{
    width: 600px;
    height: 515px;
}
.stats, .caract, .loot, .ataque, .ataquetext{
    background-color: #121212;
    color: white;
}

.subcontainer3{
    position: relative;
    left: 100px;
    top: 125px;
}
.subcontainer4{
    position: relative;
    top: -380px;
    left: 300px;
}
.atrib{
    margin-top: 3px;
    width: 30px;
    height: 15px;
    padding: 5px;
    border: none;
    color: white;
    background-color: rgb(47, 47, 47);
}
.def, .sent, .pres_pert, .vd{
    margin-top: 3px;
    width: 55px;
    height: 15px;
    padding: 5px;
    border: none;
    color: white;
    background-color: rgb(47, 47, 47);
}
.pres_pertu{
    margin-top: 3px;
    width: 125px;
    height: 15px;
    padding: 5px;
    border: none;
    color: white;
    background-color: rgb(47, 47, 47);
}
.descrit{
    margin-top: 3px;
    padding: 5px;
    border: none;
    color: white;
    background-color: rgb(47, 47, 47);
}
.nome{
    margin-top: 3px;
    width: 250px;
    height: 15px;
    padding: 5px;
    border: none;
    color: white;
    background-color: rgb(47, 47, 47);
}
.tam{
    margin-top: 3px;
    width: 100px;
    height: 15px;
    padding: 5px;
    border: none;
    color: white;
    background-color: rgb(47, 47, 47);
}
.res_vul{
    position: relative;
    top: -15px;
}
.elemento{
    margin-top: 3px;
    width: 70px;
    height: 15px;
    padding: 5px;
    border: none;
    color: white;
    background-color: rgb(47, 47, 47);
}
.peri{
    margin-top: 3px;
    margin-left: 20px;
    width: 90px;
    height: 15px;
    padding: 5px;
    border: none;
    color: white;
    background-color: rgb(47, 47, 47);
}
.diceperi{
    margin-top: 3px;
    margin-right: 20px;
    width: 55px;
    height: 15px;
    padding: 5px;
    border: none;
    color: white;
    background-color: rgb(47, 47, 47);
}
.elemento2{
    margin-top: 3px;
    width: 200px;
    height: 15px;
    padding: 5px;
    border: none;
    color: white;
    background-color: rgb(47, 47, 47);
}